*.jks
*.key
*.log
*.mobileprovision
*.orig.*
*.p12
*.p8
*.swp
.DS_Store
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.idea/**/*
build
dist/
node_modules/
npm-debug.*
npm-debug.log*
tags
web-build/
yarn-debug.log*
yarn-error.log*
